<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/updateeffectif.css" />
    <title> Update Joueur </title>
</head>
<%- include('header.ejs') %>

<body>
    <form action="/effectifj/update" method="POST">
        <fieldset>
            <input type="hidden" value="<%= id %>" name="id">
            <label for="jfirstname">Prénom :</label>
            <input id="jfirstname" type="text" name="firstname" value="<%= firstname %>"><br>
            <label for="jlastname">Nom :</label>
            <input id="jlastname" type="text" name="lastname" value="<%= lastname %>"><br>
            <label for="jclassement">Classement :</label>
            <input id="jclassement" type="text" name="classement" value="<%= classement %>"><br>
            <input type="submit" name="save" value="Sauver">
            <a href="/effectif"> <input type="button" value="Retour"> </a>
        </fieldset>
    </form>

</body>
<%- include('footer.ejs') %>

</html>